body{
    background-color: azure ;
    display: inline-block;
    
}
.bmw{
    display: inline-block;
    height: 300px;
    width: auto;
}
.skl{
    display: inline-block;
    width: auto;
    height: 150px;
}
h1{
    color:tomato;
    font-style: italic;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: 'Kaushan Script', cursive;
}
h3{
    text-align: center;
    font-style: italic;
    
}

.top-container{
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
}
.fab{
    display: inline-block;
    margin-left: 80%;
    position: fixed;
}
.av{
    display:inline-block ;
    margin: 0;
    width: 100%;
    height: auto;
}
.pp{
    display: inline-block;
    width: 150px;
    height: 150px;
}
hr{
    display: inline-block;
    border-style: none;
    border-color: black;
    border-top-style: dotted;
    border-top-width: 5px;
    width: 3%;
}
.middle-container{
    text-align: center;
}
.bottom-container{
    text-align: center;
}
